{% extends 'base.html' %}

{% block content %}
<h1> Hola Andhersson - Crear Task</h1>
<form action="/tasks/create/" method="POST">
    {{error}}
    {% csrf_token %}
    {{form}}
    <button>
        Guardar
    </button>
</form>
{% endblock %}