{% extends 'base.html' %}

{% block content %}
<h1> Hola Andhersson - Home</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora, aspernatur. Modi quod nemo quisquam sed exercitationem, eius quae voluptatum aliquam ullam sint voluptas sit earum beatae molestias voluptate odit autem.</p>
{% endblock %}

