{% extends 'base.html' %}

{% block content %}
<h1> Hola Andhersson - Sign Up</h1>
<!--{{mititulo}}-->
{{error}}
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button>
        Signup
    </button>
</form>
{% endblock %}

