{% extends 'base.html' %}

{% block content %}
<h1> Hola Andhersson - Sign In</h1>

<form action="/signin/" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button>
        Sign In
    </button>
</form>

{% endblock %}

