{% extends 'base.html' %}

{% block content %}
<h1> Hola Andhersson - tasks pending</h1>
{% for task in tasks %}
<li>
    <a href="{% url 'task_detail' task.id %}">
        {% if task.importante %}
        <strong>{{task.titulo}}</strong>
        {% else %}
        {{task.titulo}}
        {% endif %}
        <p>{{task.descripcion}}</p>
        <p>{{task.usuario}}</p>
        <p>{{task.datecompletado|date:'M j y:i'}}</p>
        <p>{{task.datecompletado|date:'d m y:i'}}</p>
    </a>
</li>
{% endfor %}
{% endblock %}
