{% extends 'base.html' %}

{% block content %}
<h1> Hola Andhersson - Task Detail</h1>
<h1>{{task.titulo}}</h1>
{{error}}
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button>Actualizar</button>
</form>
<form action="{% url 'complete_task' task.id %}" method="POST">
    {% csrf_token %}
    <button>Completar</button>
</form>
<form action="{% url 'delete_task' task.id %}" method="POST">
    {% csrf_token %}
    <button>Eliminar</button>
</form>
{% endblock %}